h1{
   background-color: white;
   color: black;
}

body{
   background-color: white;
}

h2{
   color: black;
}

ol{
   color: black;
}

li2 Series Gran Coupe{
   border-radius: 8px ;
}

a{
   color: black;
}


